export PT_GRAPHQL_ENDPOINT_URI=https://api.thegraph.com/subgraphs/name/pooltogether/pooltogether-v3_1_0
export PT_UNISWAP_ENDPOINT_URI=https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v2
export PT_USDC_MAIN_ADDRESS=0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48