html,
body {
  background-color: #F9F6FE;
  padding: 0;
  margin: 0;
  font-family: roc-grotesk, roc-grotesk-wide, sans-serif;
  color:#7E46F2;
  background-image: url('/Gradient-BG.svg');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-item > a {
  color: white;
}

hr {
  background-color: white;
}

h1 {
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
  size: 40px;
  line-height: 48px;
}

h2 {
  font-family: roc-grotesk, sans-serif;
  font-weight: 600;
  font-style: normal;
  size: 24px;
  line-height: 36px;
}

h5,h4,h3 {
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  size: 40px;
  line-height: 56px;
}

p {
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  size: 16px;
  line-height: 24px;
}

#mainFooter {
  width: 100%;
  height: 240px;
  background-image: url('/footer-bg.svg');
  background-size: 100% 100%;
  margin-top: 200px;
}

@media screen and (max-width: 600px) {
  #depositButton {
    width: 360px;
    height: 88px;
  }

  #mainFooter {
    background-image: url('/mobile-footer-bg.svg');
    height: 160px;
  }
}

