.bgPool {
  background-color: #F9F6FE;
}

.titleMain {
  text-align: center;
  color: white;
  font-size: 42pt;
  font-weight: bolder;  
}

.textColor {
  font-weight: bolder;
  background: linear-gradient(to bottom right, orange, red, blue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flexCenter {
  justify-content: center;
}

.textCenter {
  text-align: center;
}

.leaderboardText {
  text-align: center;
  padding-bottom: 64px;
}

.glow{
  box-shadow: 0px 0px 20px 10px #0ff;
}

.lootBoxButton {
  background-color: rgb(231,210,97);
  border-color: rgb(233,218,150);
}

.lootBoxTitle,
.textWhite {
  color: white;
}

.lootBoxModalBackdrop{
  background-color: rgb(28,9,67);
}
.lootBoxModalContent{
  background-color: rgb(53, 24, 110);
}

.callToAction {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}

.flexContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.flexRow {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.footerText {
  color: white;
  margin: unset;
  padding-right: 5px;
  padding-left: 5px;
}

.winnerRank {
  background: radial-gradient(circle, rgb(255, 246, 160), #da9555, #f55b40, rgba(255, 0, 0, 0.363));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  to {
    background-position: 100%;
  }
}
